<ion-header>
    <ion-toolbar>

        <ion-title text-center class="titleText"> FINAL DE PARTIDA</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
    <div class="fixedScroll">
        <app-ranking [usersList]="users"></app-ranking>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="12" text-center>
                <ion-button  class="titleText" color="success" (click)="navigate('/home')" text-center> Reiniciar Partida</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
