<ion-app>

    <ion-menu side="start" menuId="main" class="my-custom-menu">
        <ion-header>
            <ion-toolbar color="tertiary">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item (click)="presentAlert()" >
                    <ion-icon name="home" (click)="presentAlert()"></ion-icon>&nbsp;Inicio
                </ion-item>
                <!-- <ion-item (click)="goTo('/home')" >
                    <ion-icon name="contacts"></ion-icon>&nbsp;Participantes
                </ion-item>
                <ion-item>
                    <ion-icon (click)="goTo('/home')" name="swap"></ion-icon>&nbsp;Cambiar Juego
                </ion-item>
                <ion-item>
                    <ion-icon (click)="goTo('/home')" name="settings"></ion-icon>&nbsp;Ajustes
                </ion-item>-->
                <ion-item>
                    <ion-icon (click)="exit()" name="power"></ion-icon>&nbsp;Salir
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-menu side="end" disabled="true" menuId="ranking" type="overlay" (ionDidClose)="disableMenu($event)" (ionWillOpen)="setRanking()" >
        <app-ranking [usersList]="users"></app-ranking>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>


</ion-app>
