<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>UB (Nombre provisional)</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h2 class="titles">
                    ¡Bienvenidos!
                </h2>
            </ion-col>
        </ion-row>
        <!-- TITLE -->
        <ion-row>
            <ion-col>
                <h2 class="subtitles">Elegid un juego:</h2>
            </ion-col>
        </ion-row>
        <!-- GAMES -->
        <ion-row>
            <ion-col text-center>
                <ion-button class="homebutton" color="tertiary" (click)="navigate('/verdad-o-reto')">Verdad o Reto</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button class="homebutton" color="tertiary">Moneda</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <ion-button class="homebutton" color="tertiary">Yo nunca</ion-button>
            </ion-col>
        </ion-row>
        <!-- ADD USERS -->
        <ion-row>
            <ion-col text-center>
                <ion-button  color="primary" routerLink="/users/add-user">Añadir Participantes
                </ion-button>
            </ion-col>
        </ion-row>
        <!-- Users Lists -->
        <ion-row>
            <ion-col>
                <h2 class="subtitles"> Lista de Usuarios</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col text-center>
                <app-list-users [users]="users" (deleteEvent)="deleteUserEvent($event)"></app-list-users>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>

