<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>PRUEBA O VERDAD UB</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 class="titles">
        ¡Bienvenidos!
    </h2>
    <h2 class="subtitles">Elegid un juego:</h2>
    <div class = "buttons">
        <div text-center class="ion-padding">
            <ion-button style="margin: 5px" class="homebutton" color="tertiary">Verdad o Reto</ion-button>
        </div>
        <div text-center class="ion-padding">
            <ion-button style="margin: 5px" class="homebutton" color="tertiary">Moneda</ion-button>
        </div>
        <div text-center class="ion-padding">
            <ion-button style="margin: 5px" class="homebutton" color="tertiary">Yo nunca</ion-button>
        </div>
    </div>
</ion-content>

