<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title text-center>PRUEBA O VERDAD UB</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h2 class="titles">
        ¡RicharGuapo!
    </h2>
    <h2 class="subtitles">Elegid un juego:</h2>
    <div class="buttons" text-center>

        <ion-button class="homebutton" color="tertiary" routerLink="/verdad-o-reto">Verdad o Reto</ion-button>
        <ion-button class="homebutton" color="tertiary">Moneda</ion-button>
        <ion-button class="homebutton" color="tertiary">Yo nunca</ion-button>

    </div>
    <div class="addButtons" text-center>
        <ion-button class="addPlayer" color="primary">Añadir Participantes</ion-button>
    </div>

    <ion-list class="list">
        <ion-item>
            <ion-label>Sergi</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Katia</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Richar</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Ruben</ion-label>
        </ion-item>
    </ion-list>

</ion-content>

