.titles{
  position: relative;
  font-family: "Segoe Script";
  font-size: 150%;
  top: 3%;
  color: #7044ff;
  text-align:center;
  transform: rotate(-15deg);
}
.subtitles{
  position: relative;
  top: 7%;
  font-family: "Segoe Script";
  font-size: 120%;
  color: #7044ff;
  text-align: center;
}
.buttons{
  position: relative;
  top: 10%;
  margin-bottom: 80px;
.homebutton{
  width: 300px;
  height: 50px;
  margin: 5px;
  border-radius: 30px;
  text-align: center;
}
.list{
  height: 10px;
}

}
