.titles{
  position: relative;
  font-family: "Segoe Script";
  font-size: 250%;
  color: #7044ff;
  text-align:center;
  transform: rotate(-20deg);
}
.subtitles{
  position: relative;
  top: 10%;
  font-family: "Segoe Script";
  font-size: 140%;
  color: #7044ff;
  text-align: center;
}
.buttons{
  position: relative;
  top: 15%;
.homebutton{
  width: 300px;
  height: 50px;

}
}
