<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="warning" (click)="openRanking()">
                <ion-icon name="trophy"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title text-center class="titleText">VERDAD o RETO</ion-title>
    </ion-toolbar>


</ion-header>

<ion-content>

    <ion-row>
        <ion-col size="12">
            <ion-item> <b> RONDA {{ronda}} </b> </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="9">
            <ion-item>
                <ion-label class="titleText" color="medium"> {{jugadorP.name}} </ion-label>
            </ion-item>
        </ion-col>
        <ion-col size="3">
            <ion-item>
                <ion-label class="titleText" color="tertiary" text-center> {{jugadorP.score}} <ion-icon name="ribbon" slot="end"></ion-icon></ion-label>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-card>

        <ion-row>
            <ion-col size="6">
                <ion-chip color="{{pruebaType[0]}}">{{pruebaType[1]}}</ion-chip>
            </ion-col>
            <ion-col size="6" text-end>
                <ion-chip color="tertiary"> + {{scoreP}}</ion-chip>
            </ion-col>
        </ion-row>
        <ion-row align-items-center="">
            <ion-col size="12">
                <ion-card-title text-center>{{prueba.title}}</ion-card-title>
            </ion-col>
        </ion-row>
        <ion-row align-items-center="">
            <ion-col size="12">
                <ion-card-subtitle text-center>{{newDescript}}</ion-card-subtitle>
            </ion-col>
        </ion-row>


    </ion-card>
    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="5" text-left>
            <ion-button class="skipButt" color="medium" (click)="skip(); navigate('/verdad-o-reto')">Skip</ion-button>
        </ion-col>
        <ion-col size="5" text-end>
            <ion-button  class ="acceptButt" color="success" (click)="play(); navigate('/verdad-o-reto')">Accept</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
    </ion-row>
</ion-content>
