<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title text-center>VERDAD o RETO</ion-title>
    </ion-toolbar>


</ion-header>

<ion-content>

    <ion-row>
        <ion-col size="12">
            <ion-item>RONDA {{ronda}}</ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-item> {{jugadorP.name}}</ion-item>
        </ion-col>
    </ion-row>
    <ion-card>

        <ion-row>
            <ion-col size="6">
                <ion-chip color="{{pruebaType[0]}}">{{pruebaType[1]}}</ion-chip>
            </ion-col>
            <ion-col size="6" text-end>
                <ion-chip color="tertiary"> + {{scoreP}}</ion-chip>
            </ion-col>
        </ion-row>
        <ion-row align-items-center="">
            <ion-col size="12">
                <ion-card-title text-center>{{prueba.title}}</ion-card-title>
            </ion-col>
        </ion-row>
        <ion-row align-items-center="">
            <ion-col size="12">
                <ion-card-subtitle text-center>{{newDescript}}</ion-card-subtitle>
            </ion-col>
        </ion-row>


    </ion-card>
    <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="5" text-left>
            <ion-button class="skipButt" color="medium">Skip</ion-button>
        </ion-col>
        <ion-col size="5" text-end>
            <ion-button  class ="acceptButt" color="success">Accept</ion-button>
        </ion-col>
        <ion-col size="1"></ion-col>
    </ion-row>
</ion-content>
