.title{
  font-size: 200%;
  bold: true;

}
.acceptButt{
  height: 50px;
  width: 120px;
}
.skipButt{
  height: 50px;
}


.titleText {
  font-family:"Yu Gothic UI Semibold";
}

.subtitleText {
  font-family:"Yu Gothic UI";
}
